<br />

<p>Hi! You can enter Google Meet link to start meeting on TV called <strong>{{device}}</strong> 📺</p>
<br />
<form method="post" action="/">
  <input type="text" name="url" placeholder="Enter Google Meet link"/>
  <input type="submit" value="Open" />
  <a class="button-secondary" href="stop">Stop</a>
</form>
