<br /><br />
<p style="font-size: 30px; max-width: 1000px;">Hi! Welcome to the Google Meet enabled TV. Please visit following page on your device and enter Google Meet link.</p>
<br />
<br />
<a style="color: black; font-weight: bold; font-size: 25px;" href="{{url}}">{{url}}</a>
<img src="{{qrcode}}" />