<!DOCTYPE html>
<html>
  <head>
    <title>Google Meet TV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.typekit.net/hgx4lyv.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <img src="https://feedyou.blob.core.windows.net/web/logo_red.png" style="height: 65px; max-width: 50%;"/>
    {{{body}}}
  </body>
</html>
